<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <tr>
            <td id="td_redirect"></td>
            <td>
                <input type="radio" id="redirect_automatic" name="redirect" value="1">
                <label id="label_redirect_automatic" for="redirect_automatic"></label>

                <input type="radio" id="redirect_manual" name="redirect" value="0">
                <label id="label_redirect_manual" for="redirect_manual"></label>
            </td>
        </tr>
        <tr>
            <td id="td_notify"></td>
            <td>
                <input type="checkbox" id="notify" name="notify" value="0">
                <label id="label_notify" for="notify"></label>
            </td>
        </tr>
    </table>

    <p align="right">
        <button id="save"></button>
    </p>

    <script src="../javascript/options.js"></script>
</body>
</html>